/*
* --------------------------------------------------------------------------
* Foundation
* --------------------------------------------------------------------------
*/
*::before, *::after, * {
  -moz-box-sizing: border-box;
  box-sizing: border-box;

  -webkit-animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

html, body {
  margin: 0;
}

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;

  font-size: 16px;
  line-height: 1.5em;
  vertical-align: baseline;

  text-rendering: optimizeLegibility;
  -webkit-font-variant-ligatures: common-ligatures discretionary-ligatures;
  -moz-font-variant-ligatures: common-ligatures discretionary-ligatures;
  font-variant-ligatures: common-ligatures discretionary-ligatures;
  -webkit-font-feature-settings: "kern" 1, "liga" 1, "dlig" 1;
  -moz-font-feature-settings: "kern" 1, "liga" 1, "dlig" 1;
  font-feature-settings: "kern" 1, "liga" 1, "dlig" 1;
  -webkit-font-kerning: normal;
  -moz-font-kerning: normal;
  font-kerning: normal;

  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale
}

a {
  text-decoration: none;
  border-bottom: 1px dotted;
  outline: 0;
}

button,
input,
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  font-family: inherit;
  font-size: inherit;
  border: 0;
  outline: 0;
}

fieldset {
  padding: 0;
  border: 0;
}

label {
  display: none;
}





/*
* --------------------------------------------------------------------------
* Global
* --------------------------------------------------------------------------
*/
html,
body,
header,
footer,
fieldset {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex
}

html {
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 1rem;
  height: 100%;
  background: #bdbdbd;
  color: #222;
  font-family: 'Playfair Display', serif;
  font-weight: 400;
}

body {
  -webkit-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  margin: auto;
  padding: 0 1rem;
  width: 66%;
  min-width: 16rem;
  max-width: 46rem;
  background: #fff;
  background: rgba(255,255,255,.98);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
}

a {
  border-color: #d0dad8;
  color: #0e745c;
  -webkit-transition-duration: .1s;
  transition-duration: .1s;
}
a:hover,
a:active,
a:focus {
  border-color: #0e745c;
}
a::before {
  display: inline-block;
  vertical-align: top;
  margin-right: .125em;
  color: #d0dad8;
  font-family: FontAwesome;
  font-size: 1rem;
  font-style: normal;
  font-weight: 100;
  -webkit-transition-duration: .1s;
  transition-duration: .1s;
}
a:hover::before,
a:active::before,
a:focus::before {
  color: #0e745c;
}
a[title="Permalink"]::before {
  content: "\f0c1";
  line-height: 1.625rem;
}
address a::before {
  content: "\f041";
}
a[href^="mailto:"]::before {
  content: "\f0e0";
}
a[href*="facebook.com"]::before {
  content: "\f09a";
}
a[href*="twitter.com"]::before {
  content: "\f099";
}
a[href*="instagram.com"]::before {
  content: "\f16d";
}
a[href*="pinterest.com"]::before {
  content: "\f0d2";
}
a[href*="plus.google.com"]::before {
  content: "\f0d5";
}
a[href*="youtube.com"]::before {
  content: "\f167";
}
a[href*="github.com"]::before {
  content: "\f09b";
}
a[href*="flickr.com/people"]::before {
  content: "\f16e";
}

header,
footer {
  -webkit-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-flex: 1 100%;
  -ms-flex: 1;
  flex: 1 100%;
  text-align: center;
}

header {
  height: auto;
  border-bottom: 1px dashed #d0dad8;
}

h1 {
  -webkit-flex: 1 100%;
  -ms-flex: 1;
  flex: 1 100%;
  text-align: center;
  font-family: Oswald, sans-serif;
  font-size: 2.5rem;
  line-height: 1em; /* This feels like a hack */
  letter-spacing: -1px;
  text-transform: uppercase;
}

h2 {
  -webkit-flex: 1 100%;
  -ms-flex: 1;
  flex: 1 100%;
  text-align: center;
  font-size: 2rem;
  font-style: italic;
  font-weight: 300;
}

h3 {
  -webkit-flex: 1 100%;
  -ms-flex: 1;
  flex: 1 100%;
  text-align: center;
  font-family: Lato, sans-serif;
  font-weight: 900;
  color: #777;
  line-height: 1.5em;
  letter-spacing: 3px;
  text-transform: uppercase;
}

header h2 {
  margin-top: 0;
}

main {
  -webkit-flex: 1 100%;
  -ms-flex: 1;
  flex: 1 100%;
  margin: auto;
}

section + section {
  margin-top: 1.5rem;
  border-top: 1px dashed #d0dad8;
}

form {
  margin-top: 1.5rem;
}

fieldset {
  -webkit-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
}
fieldset * {
  width: 100%;
  margin: auto auto 1.5rem;
}
fieldset legend {
  margin-bottom: .25rem;
}

input {
  -webkit-flex: 1 100%;
  -ms-flex: 1;
  flex: 1 100%;
  padding: .25rem .5rem;
  border-bottom: 1px solid #d0dad8;
  background: transparent;
  -webkit-transition-duration: .1s;
  transition-duration: .1s
}

textarea {
  display: block;
  width: 100%;
  min-height: 6rem;
  margin: 1.5rem auto;
  padding: .25rem .5rem;
  border: 1px solid #d0dad8;
}

input:hover,
input:active,
input:focus,
textarea:hover,
textarea:active,
textarea:focus {
  border-bottom-color: #0e745c;
  box-shadow: 0 2px 1px -1px #d0dad8;
}

button {
  width: 49%;
  padding: .5rem 1rem;
  color: #888;
  font-family: Oswald, sans-serif;
  font-weight: 400;
  letter-spacing: 1px;
  text-transform: uppercase;
  background-repeat: no-repeat;
  -webkit-transition-duration: .1s;
  transition-duration: .1s
}
[type="submit"] {
  background: #d0dad8;
  background-image: -webkit-linear-gradient(left, #0e745c 0%, #0e745c 50%, transparent 50%, transparent 100%);
  background-image: linear-gradient(to right, #0e745c 0%, #0e745c 50%, transparent 50%, transparent 100%);
  background-size: 200% 100%;
  background-position: 100%;
}
[type="reset"] {
  float: right;

  background: #FCEDCF;
  background-image: -webkit-linear-gradient(left, #F7C96E 0%, #F7C96E 50%, transparent 50%, transparent 100%);
  background-image: linear-gradient(to right, #F7C96E 0%, #F7C96E 50%, transparent 50%, transparent 100%);
  background-size: 200% 100%;
  background-position: 100%;
}
button:hover,
button:active,
button:focus {
  color: #fff;
  background-position: 0%;
}

[href="/"] {
  width: 100%;
  float: left; /* Admittedly a hack; need to look into why `section` and this link are colliding. */
  margin: 1.5rem auto auto;
  padding: .5rem 1rem;
  border: 0;
  background: #ddd;
  background-image: -webkit-linear-gradient(left, #888 0%, #888 50%, transparent 50%, transparent 100%);
  background-image: linear-gradient(to right, #888 0%, #888 50%, transparent 50%, transparent 100%);
  background-size: 200% 100%;
  background-position: 100%;
  color: #888;
  font-family: Oswald, sans-serif;
  font-weight: 400;
  letter-spacing: 1px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  outline: 0;
  -webkit-transition-duration: .1s;
  transition-duration: .1s
}
[href="/"]:hover,
[href="/"]:active,
[href="/"]:focus {
  color: #fff;
  background-position: 0%;
}

footer {
  height: 4rem;
  border-top: 1px dashed #d0dad8;
}
footer p {
  margin: auto;
  font-family: Oswald, sans-serif;
  font-size: .75rem;
  font-style: italic;
}





/*
* --------------------------------------------------------------------------
* Triangulator
* --------------------------------------------------------------------------
*/

footer p a {
  margin-left: .25em;
}

button::before,
[href="/"]::before {
  font-family: FontAwesome;
  font-size: 1rem;
  font-style: normal;
  font-weight: 100;
}

[type="submit"]::before {
  content: "\f00c\0020";
}

[type="reset"]::before {
  content: "\f021\0020";
}

body::after {
  content: "\25b2\00000a\25b2\25b2";
  color: #fcedcf;
  font-family: monospace;
  text-align: center;
  white-space: pre;
  display: block;
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  line-height: .625em;
}





/*
* --------------------------------------------------------------------------
* jQuery
* --------------------------------------------------------------------------
*/
#results,
#triangle,
#error {
  display: none;
}
